# Dependencies
/node_modules

# Local Environment Variables
.env.local

# Next.js build output
/.next/
/out/

# Production build
/build

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*